Initialise the Data

In [1]:


##source: https://www.kaggle.com/saurabhbagchi/dish-network-hackathon?select=Train_Dataset.csv
##60% of data was randomly chosen to allow the csv to be uploaded to GitHub

import pandas as pd
import requests
import io
    
# Downloading the csv file from  GitHub account

url = "https://raw.githubusercontent.com/docju/nanodegreeblogpost/master/CarLoan.csv"
download = requests.get(url).content

df = pd.read_csv(io.StringIO(download.decode('utf-8')))

print(df.head())

         ID  Client_Income  Car_Owned  Bike_Owned  Active_Loan  House_Own  \
0  12162008        45000.0        0.0         0.0          0.0        1.0
1  12201095        30150.0        1.0         0.0          0.0        1.0
2  12188608        14400.0        0.0         0.0          0.0        1.0
3  12188085        14850.0        0.0         0.0          1.0        1.0
4  12136418        12150.0        0.0         1.0          0.0        1.0

   Child_Count  Credit_Amount  Loan_Annuity Accompany_Client  ...  \
0          0.0       131211.0       4875.30            Alone  ...
1          0.0        72846.0       4456.35            Alone  ...
2          0.0       102202.2       4342.95            Alone  ...
3          0.0        83538.0       4032.00         Relative  ...
4          0.0       100956.6       3349.35            Alone  ...

  Client_Permanent_Match_Tag Client_Contact_Work_Tag       Type_Organization  \
0                         No                     Yes  Business Entity Type 3
1                        Yes                     Yes                     XNA
2                        Yes                     Yes                     XNA
3                         No                     Yes           Self-employed
4                        Yes                     Yes                     XNA

  Score_Source_1 Score_Source_2 Score_Source_3  Social_Circle_Default  \
0            NaN       0.489135       0.067794                 0.0515
1            NaN       0.738472       0.298595                 0.1031
2            NaN       0.386343            NaN                    NaN
3       0.501634       0.448004       0.538863                    NaN
4            NaN       0.799336            NaN                 0.0742

   Phone_Change  Credit_Bureau  Default
0         832.0            0.0        0
1        2945.0            3.0        0
2        1002.0            NaN        0
3        2413.0            2.0        0
4        2029.0            3.0        1

[5 rows x 40 columns]
(121856, 40)

Data Understanding- get shape of data, which variables are numeric, which are binary, which are categorical, proportion of missing values, distributions etc

In [ ]:
df.shape

##121856 rows, 40 columns

df.dtypes
##create list of categorial variables
cat_df = df.select_dtypes(include=['object']).copy()
cat_columns=list(cat_df.columns.values)
##create list of numeric variables
num_df= df.select_dtypes(include=['float','integer']).copy()
num_columns=list(num_df.columns.values)